@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To do Management Web App</h1>
    <p class="lead">This is the Web APplication of Phuonglvt</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole(GCD0806.Utils.Role.User))
        {
            <div class="col-md-4">
                <h2> User Functionability</h2>
                <p>
                    For Users
                </p>
            </div>
        }
        else if(User.IsInRole(GCD0806.Utils.Role.Manager))
            {
                <div class="col-md-4">
                    <h2> Manager Functionability</h2>
                    <p>@Html.ActionLink("Show All Teams", "Index", "Team", null, new {@class ="btn btn-primary"})</p>
                </div>
            }

        else if (User.IsInRole(GCD0806.Utils.Role.Admin))
        {
            <div class="col-md-4">
                <h2> Admin Functionability</h2>
                <p>
                    @Html.ActionLink("Create new Manager Acount","CreateManager","Admin",null, new {@class ="btn btn-primary"})
                </p>
            </div>
        }
    }

</div>